@import "/src/styles/variables.scss";
.container {
  margin-top: 3rem 1rem;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  .container-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-title {
      width: 50%;
      font-size: 1.1rem;
    }
    .paragraphs {
      width: 50%;
      font-size: 0.7rem;
      text-align: center;
      line-height: 1.5;
      font-weight: normal;
    }
  }
  .img {
    height: 18.75rem;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      filter: brightness(0.7);
    }
  }
}

@media (min-width: 768px) {
  .container {
    .container-text {
      &-title {
        margin-left: 5rem;
        font-size: 1.5rem;
        letter-spacing: 2px;
      }
      .paragraphs {
        margin-left: 5rem;
        font-size: 0.9rem;
        line-height: 1.7;
      }
    }
    padding: 0rem 5rem;
    .img {
      img {
        height: 300px;
      }
    }
  }
}
