<div class="container">
  <div class="container-text">
    <div class="title">
      <h3>
        SOMOS LIDERES <br />
        EN LA INDUSTRIA
      </h3>
    </div>
    <div class="paragraphs">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
        perferendis culpa impedit nisi deleniti voluptatum facere eos nihil
        consectetur consequuntur nobis, quia numquam beatae quis animi quisquam
        incidunt sequi maiores.
      </p>
    </div>
  </div>
  <div class="img">
    <img src="../../../assets/imagesection.jpg" alt="" />
  </div>
</div>
