<div class="card">
    <img src="../../../../assets/cars/car2.jpg" alt="" />
    <div class="card__description">
        <div class="card__description-info">
            <h3>$124.556,06</h3>
            <p>
                <i class="bi bi-geo-alt"></i>
                buenos aires
            </p>
        </div>
        <p class="card__description-name">Audi A5 Sportback</p>
    </div>
    <div class="card__button">
        <app-button [text]="'Ver Detalles'" [size]="'small'"></app-button>
    </div>
</div>
