@import "/src/styles/variables.scss";
.container {
  margin-top: 3rem;
  &-title {
    font-size: 1.2rem;
    text-align: center;
  }
  &-text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: normal;
  }
  &-items {
    padding: 1rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    .item {
      max-width: 375px;
      padding: 1rem;
      margin: 1rem;
      border-bottom: 1px solid $grey-color;
      border-top: 1px solid $grey-color;
      &-number {
        font-weight: normal;
      }
      &-title {
        text-align: center;
      }
      &-p {
        text-align: center;
        font-weight: normal;
      }
    }
  }
}
@media (min-width: 768px) {
  .container {
    &-title {
      font-size: 1.8rem;
      letter-spacing: 3px;
      text-align: center;
    }
    &-text {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
