<section class="container">
  <h2 class="container-title">TENEMOS LOS MEJORES SERVICIOS</h2>
  <h4 class="container-text">nada nos importa mas que nuestros clientes</h4>

  <div class="container-items">
    <div class="item">
      <h2 class="item-number">01</h2>
      <h2 class="item-title">La Mejor Elección</h2>
      <p class="item-p">
        entregamos solo autos de la mejor calidad,por lo que no te debes
        preocupar por que automovil elegir
      </p>
    </div>

    <div class="item">
      <h2 class="item-number">02</h2>
      <h2 class="item-title">Servicios Exclusivos</h2>
      <p class="item-p">
        estamos preparados para encontrar el auto de tu sueños,el auto de tu
        nueva realidad,de una manera sencilla
      </p>
    </div>
    <div class="item">
      <h2 class="item-number">03</h2>
      <h2 class="item-title">transaccion segura</h2>
      <p class="item-p">
        el proceso de transaccion es completado en 24hrs,no pierdas tiempo con
        cosas innesesarias
      </p>
    </div>
  </div>
</section>
