<section class="container">
    <h2 class="container-title">TENEMOS LOS MEJORES SERVICIOS</h2>
    <h4 class="container-text">nada nos importa mas que nuestros clientes</h4>
    <div class="container-items">
        <div class="item" *ngFor="let item of servicesitems">
            <h2 class="item-number">{{ item.number }}</h2>
            <h2 class="item-title">{{ item.title }}</h2>
            <p class="item-p">
                {{ item.description }}
            </p>
        </div>
    </div>
</section>
