@import '/src/styles/variables.scss';

.details-container {
    background-color: $dark-medium-color;
    margin: 0 auto;
    .info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $dark-medium-color;
        .features-container {
            width: 100%;
        }
    }
}
@media (min-width: 768px) {
    .details-container {
        margin: 1rem;
        display: flex;
        justify-content: space-between;

        .info-container {
            width: 50%;
        }
        .features-container {
            width: 50%;
        }
    }
}
