.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link {
    display: inline;
    margin-right: 16px;
    a {
      font-size: 1.4rem;
    }
  }
}
