@import "/src/styles/variables.scss";
@import "/src/styles/mixins";
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    border-bottom: 1px solid ;
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    &__menu{
        @include flex(row,space-between);
         &-title{
            margin-left: 1rem ;
            font-size: 1.2rem;
            padding: 0.3rem;
            letter-spacing: 1.1px;
            
        }
        &-button{
            background-color: $dark-medium-color;
            border: none;
            outline: none;
            margin: 0.5rem;
            z-index: 6;
            i{
            color: $white-color;
            padding: 0 0.5rem;
                font-size: 2rem;
            }
        }
    }

    &__links{
        @include flex(column);
    
        position: absolute;
        gap: 2rem;
        width: 100%;
        height: 100vh;
        background-color: $dark-medium-color;
        transform: translateY(-100%);
        z-index: 2;
       @include transition-ease;
       &__sign{
        min-width: 15rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 1rem;
        margin-right: 1rem;
        margin: 2rem  auto 0 auto;
        &-link{
            padding: 0.3rem;
            font-size: 1.1rem;
            background: $background;
            cursor: pointer;
        }
        &-link-register{
            padding: 0.3rem;
            font-size: 1.1rem;
            border: 1px solid $white-color;
            cursor: pointer;
        }
       }
        .nav__link{
            font-size: 1.6rem;
            padding: 0.5rem;
            height: 1.5rem;
            @include transition-ease;
            &:hover{
                cursor: pointer;
                background-color: $dark-medium-color;
                border-bottom: 5px solid $white-color;
            }
        }
    }
    &__sign{
        display: none;
    }
}

.open{
    transform: translateY(0);
}

@media screen and (min-width:768px) {
    .nav{
    flex-direction: row;
    align-items: baseline;
    &__menu{
        &-button{
            display: none;
        }
    }
    &__links{
        @include flex(row);
        position: static;
        gap: 1rem;
        width: 100%;
        height: 60px;
        background-color: $dark-medium-color;
        transform: translateY(0);
        z-index: 2;
        @include transition-ease;
        &__sign{
            display: none;
        }
        .nav__link{
            font-size: 0.9rem;
            padding: 0.3rem;
            height: 1.5rem;
            @include transition-ease;
            &:hover{
                cursor: pointer;
                background-color: $dark-medium-color;
                border-bottom: 2px solid $white-color;
            }
         
        }
    }
    &__sign{
        min-width: 15rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: 1rem;
        margin-right: 1rem;
        &-link{
            padding: 0.3rem;
            font-size: 0.9rem;
            background: $background;
            cursor: pointer;
        }
        &-link-register{
            padding: 0.3rem;
            font-size: 0.9rem;
            border: 1px solid $white-color;
            cursor: pointer;
        }
    }
}
    
}