<header>
    <nav class="nav">
        <div class="nav__menu">
            <h3 class="nav__menu-title">Automotores</h3>
            <button (click)="toggleMenu()" class="nav__menu-button">
                <i [ngClass]="{ 'bi bi-list': !isOpen, 'bi bi-x-lg': isOpen }"></i>
            </button>
        </div>
        <div class="nav__links" [ngClass]="{ open: isOpen }">
            <a routerLinkActive="active" (click)="navigateTo('/home')" class="nav__link">Inicio</a>
            <a routerLinkActive="active" (click)="navigateTo('/cars')" class="nav__link">Catálogo</a>
            <a routerLinkActive="active" (click)="navigateTo('/home')" class="nav__link">servicios</a>
            <a routerLinkActive="active" (click)="navigateTo('/home')" class="nav__link">servicios</a>
            <div class="nav__links__sign">
                <a
                    routerLinkActive="active"
                    (click)="navigateTo('/auth/register')"
                    class="nav__links__sign-link-register"
                    >Registrarse</a
                >
                <a routerLinkActive="active" (click)="navigateTo('/auth/login')" class="nav__links__sign-link"
                    >Iniciar Sesión</a
                >
            </div>
        </div>
        <div class="nav__sign">
            <a routerLinkActive="active" (click)="navigateTo('/auth/register')" class="nav__sign-link-register"
                >Registrarse</a
            >
            <a routerLinkActive="active" (click)="navigateTo('/auth/login')" class="nav__sign-link">Iniciar Sesión</a>
        </div>
    </nav>
</header>
