@import "/src/styles/variables.scss";
@import "/src/styles/mixins";
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    border-bottom: 1px solid ;
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: $dark-color;
    &__menu{
        @include flex(row,space-between);
         &-title{
            font-size: 1.2rem;
            margin: 0.5rem;
            letter-spacing: 1.1px;
            
        }
        &-button{
            background-color: $dark-medium-color;
            border: none;
            outline: none;
            margin: 0.5rem;
            z-index: 6;
            i{
            color: $white-color;
            padding: 0 0.5rem;
                font-size: 2rem;
            }
        }
    }

    &__links{
        @include flex(column);
        position: absolute;
        gap: 2rem;
        width: 100%;
        height: 100vh;
        background-color: $dark-medium-color;
        transform: translateY(-100%);
        z-index: 2;
       @include transition-ease;
        .nav__link{
            font-size: 1.6rem;
            padding: 0.5rem;
            height: 1.5rem;
            @include transition-ease;
            &:hover{
                cursor: pointer;
                background-color: $dark-medium-color;
                border-bottom: 5px solid $white-color;
            }
        }
    }
}

.open{
    transform: translateY(0);
}