/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap");

@import "./styles/variables.scss";
body,
html {
  font-family: "Poppins", sans-serif;
  background-color: $dark-color;
  color: $white-color;
}
