@import "/src/styles/variables.scss";
.container {
    width: 100%;
  &-title {
    font-size: 1.2rem;
    text-align: center;
  }
  &-text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: lighter;
  }
  &-button{
    margin-top: 3rem;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .container {
    &-title {
      font-size: 1.8rem;
      letter-spacing: 3px;
      text-align: center;
    }
    &-text {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
